body {
  background: linear-gradient(to bottom right, #2c3e50, #2980b9);
}
body {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background-color: #435fff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
a:hover,
button:hover {
  opacity: 0.8;
}

.card_buy_car_btn {
  font-size: 1rem;
  line-height: 1rem;
  
  font-weight: 500;
  border-radius: 3px;
  color: rgb(17 24 39);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: solid 1px rgb(17 24 39);
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.card_buy_car_btn:hover {
  background-color: rgb(17 24 39);
  color: white;
}

.card_buy_car_btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.card_buy_car_btn :nth-of-type(2) {
  margin-left: auto;
}

