/* Banner */
.carousel-item {
    max-height: 50vh;
}

.carousel-item img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

.home_separator {
    margin-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: grid;
    /* dos columnas de ancho igual */
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.column1 {
    padding: 100px;
    background-color: #f8f8f8;
}

.column2 {
    background-color: #f8f8f8;
}
.column2 img{
    max-height: 500px;
}

.ultracars_btn{
    font-size: 1rem;
    line-height: 1rem;
    
    font-weight: 500;
    border-radius: 3px;
    color: rgb(17 24 39);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: solid 1px rgb(17 24 39);
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.ultracars_btn:hover{
    background-color: rgb(17 24 39);
    color: white;
}

.cookie-card {
    max-width: 420px;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 35px -20px rgba(153, 153, 153, 0.54);
    -webkit-box-shadow: 0px 20px 35px -20px rgba(153, 153, 153, 0.54);
    -moz-box-shadow: 0px 20px 35px -20px rgba(153, 153, 153, 0.54);
}

.cookie-card img {
    border-radius: 5px;
    max-height: 720px;
    max-width: 1280px;
    margin-bottom: 1rem;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(31 41 55);
}

.description {
    margin-top: 0.1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.card-price {
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: rgb(31 41 55);
}

.card_actions {
    display: flex;
    justify-content: space-between;
    /* Acomoda los botones a los extremos */
    align-items: center;
    flex-shrink: 0;
}

.card_seller {
    order: -1;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(31 41 55);
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    background-color: transparent;
}

.card_seller:hover {
    color: rgb(156 163 175);
}

.card_seller:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.card_buy_car_btn {
    font-size: 1rem;
    line-height: 1rem;
    
    font-weight: 500;
    border-radius: 3px;
    color: rgb(17 24 39);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: solid 1px rgb(17 24 39);
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.card_buy_car_btn:hover {
    background-color: rgb(17 24 39);
    color: white;
}

.card_buy_car_btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.card_buy_car_btn :nth-of-type(2) {
    margin-left: auto;
}

.card_btn_fav {
    transition-duration: 0.4s;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}

.card_btn_fav i:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    color: gold;
}

.card_btn_fav:nth-of-type(2) {
    margin-left: auto;
}

/* Initial form state */
.form {
    --col1: #fff;
    --col2: #252325;
    --col3: rgba(232, 213, 196, 0.9);
    --col4: #ffffff;
    --col5: #683363;
    --sh: rgba(80, 80, 80, 0.35);
    --rad: 4px;
    --radBig: 10px;
    border-radius: 0 0 var(--radBig) var(--radBig);
    box-shadow: 0 0 20px var(--sh);
    display: flex;
    flex-direction: column;
    gap: 1.5em 1em;
    padding: 1em;
    position: relative;
    max-width: 75%;
    max-height: 90px;
    transition: background .3s ease-out, max-height .3s ease-out;
    overflow: hidden;
  }
  
  .form::before {
    content: 'Ready to purchase?';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
  }
  
  .form::after {
    content: '';
    backdrop-filter: blur(6px) grayscale(100%);
    background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 70%, rgba(255, 255, 255, 0.3) 90%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    z-index: 999;
  }
  
  .form::after,
  .form::before {
    border-radius: 0 0 var(--radBig) var(--radBig);
    pointer-events: none;
    transition: all .5s ease-out;
  }
  
  /* Form hover and focus */
  .form:hover,
  .form:focus-within {
    max-width: 100%;
    max-height: 380px;
  }
  
  .form:focus-within {
    overflow: initial;
  }
  
  .form:hover::before,
  .form:hover::after {
    opacity: 0;
  }
  
  .form:hover::after {
    backdrop-filter: blur(0) grayscale(0%);
  }
  
  .form header {
    color: var(--col1);
    font-size: 1.25rem;
    font-weight: 600;
  }
  /* Labels and inputs UI */
  :is(.form) label span, label input {
    flex: 1 100%;
    transition: all .3s ease-out;
  }
  
  :is(.form) input, select, button {
    appearance: none;
    border: 0;
    padding: .75em;
    border-radius: var(--rad);
    transition: all .3s ease-out;
  }
  
  .form label {
    display: flex;
    flex-flow: row wrap;
    color: var(--col4);
    gap: .5em;
  }
  
  .form input {
    box-shadow: inset 3px 3px 1px var(--sh);
  }
  
  .form fieldset {
    display: flex;
    backdrop-filter: blur(10px);
    flex-flow: row nowrap;
    gap: 1em;
    position: relative;
    transition: all .3s ease-out;
    padding: 1rem;
    z-index: 10;
    border: 3px double var(--col1);
    border-radius: var(--rad);
  }
  
  .form fieldset label {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    font-size: .75em;
  }
  
  .sm {
    justify-content: space-around;
  }
  
  .sm span {
    text-align: center;
  }
  
  .form select {
    box-shadow: inset 3px 3px 1px var(--sh);
    padding: .75em 1.75em .75em 0.5em;
    position: relative;
  }
  
  .custom-select {
    position: relative;
  }
  
  .custom-select::after {
    position: absolute;
    content: "";
    top: 45%;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--col5) transparent transparent transparent;
  }
  
  .form fieldset span {
    flex: 1 100%;
  }
  
  .form fieldset input {
    flex: 0 1 40px;
  }
  
  .form button {
    background-color: var(--col1);
    color: var(--col4);
    border: 2px solid var(--col4);
    font-size: 1em;
    font-weight: 700;
    align-self: center;
    padding: .5em 1.5em;
    appearance: none;
  }
  
  /* Form and UI valid and invalid states */
  .form input:focus,
  .form select:focus {
    outline: 3px solid var(--col3);
    outline-offset: 1px;
  }
  
  .form input:invalid:not(:focus),
  .form select:invalid:not(:focus) {
    background-color: var(--col3);
    outline: 3px solid var(--col4);
    outline-offset: 1px;
  }
  
  .form input:valid:not(:focus),
  .form select:valid:not(:focus) {
    outline: 3px solid var(--col1);
    outline-offset: 1px;
  }
  
  .form .message {
    display: block;
    opacity: 0;
    font-size: .75em;
    font-weight: 400;
    transition: all .3s ease-out;
    margin: -1rem 0 0;
  }
  
  .form:has(:invalid) .message {
    opacity: 1;
    margin: .25rem 0 0 0;
  }
  
  label:has(input:invalid),
  label:has(select:invalid) {
    color: var(--col3);
    opacity: .8;
  }
  
  label:has(input:valid),
  label:has(select:valid) {
    opacity: 1;
  }
  
  .form:hover:has(:focus, :active):valid .submitCard {
    max-height: 180px;
    opacity: 1;
    transition: opacity 1s ease-out .5s, translate 1.3s ease-out;
    translate: 0 100%;
  }
  
  .form:hover:invalid {
    transition: all .3s ease-out;
    background-color: var(--col5);
  }
  
  .form:hover:valid {
    transition: all .3s ease-out;
    background-color: var(--col1);
  }
  
  .form:hover:valid * {
    color: var(--col2);
  }
  
  .form:hover:valid input,
  .form:hover:valid select {
    outline: 3px solid var(--col2);
  }
  
  .form:hover:invalid fieldset {
    border: 1px dashed var(--col3);
  }
  
  .form:hover:valid fieldset {
    border: 1px dashed var(--col2);
  }
  
  /* Submit block */
  .form .submitCard {
    display: flex;
    justify-content: center;
    background-color: var(--col2);
    border-radius: 0 0 var(--rad) var(--rad);
    bottom: 0;
    padding: .5em;
    opacity: 0;
    max-height: 0;
    translate: 0 -100%;
    position: absolute;
    width: calc(100% - 2em);
    transition: all .5s ease-out .1s;
    z-index: -1;
  }
  /*---------------------*/
  .card {
    width: 500px;
    height: 600px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   .CardsImg {
    width: 100%;
    height: 100%;
}
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   
   .btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }