.card {
  width: 300px;
  height: 300px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  margin: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.CardsImg {
  width: 100%;
  height: 100%;
}


.fancy {
background-color: transparent;
transform: scale(0.8);
border: 2px solid #000;
border-radius: 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
float: right;
font-weight: 700;
letter-spacing: 0.05em;
margin-top: -10px;
outline: none;
overflow: visible;
padding: 1.25em 2em;
position: relative;
text-align: center;
text-decoration: none;
text-transform: none;
transition: all 0.3s ease-in-out;
user-select: none;
font-size: 13px;
}

.fancy::before {
content: " ";
width: 1.5625rem;
height: 2px;
background: rgb(0, 0, 0);
top: 50%;
left: 1.5em;
position: absolute;
transform: translateY(-50%);
transform-origin: center;
transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
font-size: 1.125em;
line-height: 1.33333em;
padding-left: 2em;
display: block;
text-align: left;
transition: all 0.3s ease-in-out;
text-transform: uppercase;
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 10px;
}

.fancy .top-key {
height: 2px;
width: 1.5625rem;
top: -2px;
left: 0.625rem;
position: absolute;
background: #e8e8e8;
transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
height: 2px;
width: 1.5625rem;
right: 1.875rem;
bottom: -2px;
position: absolute;
background: #e8e8e8;
transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
height: 2px;
width: 0.625rem;
right: 0.625rem;
bottom: -2px;
position: absolute;
background: #e8e8e8;
transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
color: white;
background: rgb(255, 0, 0);
}

.fancy:hover::before {
width: 0.9375rem;
background: white;
}

.fancy:hover .text {
color: white;
padding-left: 1.5em;
}

.fancy:hover .top-key {
left: -2px;
width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
right: 0;
width: 0;
}

/* ----- este estilo causa problemas ----- */
/*
.publicidad {
width: 200px;
height: 400px;
padding: .8em;
background: #d50000;
position: relative;
overflow: visible;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
*/

.publicidad-img {
background-color: #d0ff00;
height: 40%;
width: 100%;
border-radius: .5rem;
transition: .3s ease;
}

#publi-img {
width: 100%;
height: 100%;
}

.publicidad-info {
padding-top: 10%;
color: #000;
font-size: larger;
}

svg {
width: 20px;
height: 20px;
}

.publicidad-footer {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;
border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
font-weight: 900;
font-size: 1.2em;
line-height: 1.5;
}

.text-body {
font-size: .9em;
padding-bottom: 10px;
}

/*Button*/
.publicidad-button {
border: 1px solid #252525;
display: flex;
padding: .3em;
cursor: pointer;
border-radius: 50px;
transition: .3s ease-in-out;
}

/*Hover*/
.publicidad-img:hover {
transform: translateY(-25%);
box-shadow: rgb(222, 255, 5) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.publicidad-button:hover {
border: 1px solid #ffcaa6;
background-color: #67ff01;
}

/* ----- aqui el width causa problemas ----- */
.publicidad-container {
  position: fixed;
top: 50%;
right: 0;
transform: translateY(-40%);
/*width: 200px;*/
}


/* ----- este estilo viene de form.css, es para que el boton se vea chido ----- */
.card_buy_car_btn {
font-size: 1rem;
line-height: 1rem;

font-weight: 500;
border-radius: 3px;
color: rgb(17 24 39);
padding-left: 1.5rem;
padding-right: 1.5rem;
padding-top: 0.625rem;
padding-bottom: 0.625rem;
border: solid 1px rgb(17 24 39);
transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}




