#logo_navbar{
  width: 50px;
}
.search_btn_navbar {
  margin-left: -10px;
  border: none;
  cursor: pointer;
  background-color: rgba(42, 42, 45, 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn_navbar:hover {
  background-color: rgba(54, 54, 56, 1);
}