.ultracars_btn{
    font-size: 1rem;
    line-height: 1rem;
    
    font-weight: 500;
    border-radius: 3px;
    color: rgb(17 24 39);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: solid 1px rgb(17 24 39);
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.ultracars_btn:hover{
    background-color: rgb(17 24 39);
    color: white;
}

.cookie-card {
    max-width: 420px;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 35px -20px rgba(153, 153, 153, 0.54);
    -webkit-box-shadow: 0px 20px 35px -20px rgba(153, 153, 153, 0.54);
    -moz-box-shadow: 0px 20px 35px -20px rgba(153, 153, 153, 0.54);
}

.cookie-card img {
    border-radius: 5px;
    max-height: 720px;
    max-width: 1280px;
    margin-bottom: 1rem;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(31 41 55);
}

.description {
    margin-top: 0.1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.card-price {
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: rgb(31 41 55);
}

.card_actions {
    display: flex;
    justify-content: space-between;
    /* Acomoda los botones a los extremos */
    align-items: center;
    flex-shrink: 0;
}

.card_seller {
    order: -1;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(31 41 55);
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    background-color: transparent;
}

.card_seller:hover {
    color: rgb(156 163 175);
}

.card_seller:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.card_buy_car_btn {
    font-size: 1rem;
    line-height: 1rem;
    
    font-weight: 500;
    border-radius: 3px;
    color: rgb(17 24 39);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: solid 1px rgb(17 24 39);
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.card_buy_car_btn:hover {
    background-color: rgb(17 24 39);
    color: white;
}

.card_buy_car_btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.card_buy_car_btn :nth-of-type(2) {
    margin-left: auto;
}

.card_btn_fav {
    transition-duration: 0.4s;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}

.card_btn_fav i:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    color: gold;
}

.card_btn_fav:nth-of-type(2) {
    margin-left: auto;
}